* {
    box-sizing: border-box
}

/* Navbar Section */

img {
    width: 100%;
    height: 100%;
}

/* Slider Section */
.slider{
    margin-bottom: 70px;
    margin-top: 56px;
}
#container{
    
    /* max-width: 400px; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}
#container div{
    background-color: white;
    width: 100%;
    display: inline-block;
    display: none;
    position: relative;
}
#container img{
    width: 100;
    height: 400px;
}
.slider button {
    position: absolute;
    border: none;
    z-index: 5;

    background-color: black;
    opacity: .5;
}
.next {
    color: white;
    right: 16px;
    top: 261px;
}
.prev {
    color: white;
    left: 16px;
    top: 261px;
}
/* Product Section */
.products {
    margin-top: 40px;
}
.productContent {
    padding-left: 2px;
    margin-top: 100px;
    position: relative;
    
    
}
.productBody{
    position: relative;
}


.productText {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    color: whitesmoke;
    opacity: .5;    
    
}


/* Discount Section */

.discountContent {
    position: relative;
    height: 400px;
}

.discountText {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    color: whitesmoke;
    opacity: .5;    
}

.textArea{
    
    vertical-align: middle;
    margin-top: 20px;
    
}
body{
    background-color: #9effd3;
}


